{% extends 'layout.html.twig' %}

{% block content %}
	<h1>Items</h1>
	<p>the items pages are just to give an example, you can remove them if you don't need them</p>
	<p>
		<a href="/">go back at home page</a>
	</p>
	<ul>
		{% for item in items %}
			<li>
				<a href="/item/show/{{ item.id }}">{{ item.id }}.
					{{ item.title }}</a>
			</li>
		{% else %}
			<li>Nothing to display</li>
		{% endfor %}
	</ul>
	<a href="/item/add">Add</a>
{% endblock %}
